/* 
*
Common Rules
*
*/

body {
	font-family: "Open Sans Regular", Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	min-width: 996px;
	margin: 0;
	color: #000;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.header-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 83px;
}
.main-container {
	width: 977px;
	padding: 0 10px;
	margin: 0 auto;
}
.footer-container {
	width: 1200px;
	min-height: 165px;
	margin: 0 auto;
	padding: 0 83px;
	color: #000;
}

/*
*
Header
*
*/
header {
	max-width: 1920px;
	border-bottom: 2px solid #0073b7;
}
.main-header {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 135px;
	font-size: 0;
}
.main-logo {
	display: inline-block;
	float: left;
	margin-top: 25px;
	margin-bottom: 35px;
}
.main-logo img {
	width: 90px;
	height: 100px;
}
.main-title {
	display: inline-block;
	float: left;
}
.main-title h1 {
	display: block;
	font-family: "Open Sans Bold", Arial, sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
	margin: 45px 0 0 25px;
	text-transform: uppercase;
	color: #0073b7;
}
.main-title span {
	display: block;
	font-family: "Open Sans Bold", Arial, sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	margin: 0 0 0 25px;
	text-transform: lowercase;
	color: #0073b7;
}
.return {
	display: inline-block;
	float: right;
	margin: 0;
}
.return a {
	display: block;
	font-family: "Open Sans Regular", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin-top: 43px;
	text-transform: uppercase;
	text-decoration: underline;
	color: #000;
}
.return a:hover {
	text-decoration: none;
}

/*
*
Main-Content 
*
*/
.main-content {
	min-height: 500px;
	font-size: 0;
}
.input-block {
	display: inline-block;
	vertical-align: baseline;
}
.input-block:first-child {
	max-width: 282px;
}
.input-block:nth-child(1n) {
	margin-right: 40px;
}
.input-block label:first-child {
	display: inline-block;
	font-size: 12px;
}
.input-block input {
	display: block;
	width: 216px;
	min-height: 36px;
	border: 2px solid #0073b7;
	border-radius: 3px;
	outline: none;
	padding-left: 40px;
	background: url(../images/sprites/icons-LK.png);
	background-repeat: no-repeat;
}
.input-block input:focus {
	border: 2px solid #5bc0eb;
}

.input-block input.icon-user {
	background-position: 13px 6px;
}
.input-block input.icon-pass {
	background-position: 13px -64px;
}
.input-block label:nth-child(1) {
	display: inline-block;
	max-width: 200px;
	vertical-align: top;
}
.restore {
	display: inline-block;
	float: right;
	font-size: 12px;
	color: #000;
	padding-left: 30px;
	text-decoration: underline;
}
.restore:hover {
	text-decoration: none;
}

/*
*
Footer
*
*/
.main-footer {
	margin-left: auto;
	margin-right: auto;
	background-color: #e7f6fc;
}
.contacts {
	display: block;
	float: right;
	max-width: 612px;
	margin-top: 45px;
}
.contacts h2 {
	display: block;
	float: right;
	font-family: "Open Sans Regular", Arial, sans-serif;
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	margin: 0;
}
.contacts p {
	display: block;
	float: right;
	font-size: 12px;
	margin: 0;
}
.contacts span {
	display: block;
	float: right;
	font-size: 12px;
}
